<div class="col-12">
  <div class="row justify-content-center">
    <main *ngIf="user">
        <mat-card class="user-card">
          <mat-card-header>
              <img
                class="avatar"
                [src]="user.photoUrl || '//:0'"
                alt="{{ user.displayName }}"
                style="margin-right: 1em;">
              <div class="user-title">
                <mat-card-title>{{ user.displayName }}</mat-card-title>
                <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                  <p>{{ user.uid }}</p>
              </div>
          </mat-card-header>
        </mat-card>
    </main>
  </div>
</div>

